.Home {

    
    display: flex;
    background-color: #fb3b3bfd;


    .pokemon-box {
        width: 100%;
        background-color: #fb3b3bfd;
        height: 85vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .pokemon-side-information {   
        box-shadow: 5px 10px    ;
        border-radius: 20px;
        background-color: rgb(197, 197, 197);
        font-size: 1rem;
        padding: 20px;
        width: 17rem;
    }
    
    .box-information {
        background-color: rgb(255, 255, 255);
        height: 2rem;
        width: 5rem;
        padding: 10px;
        border-radius: 7px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .agrupamento {

        display: flex;
        justify-content: space-evenly !important;
        
    }

    .agrupamentoLabel{
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        
        justify-content: space-evenly;
    }



  

    .pokemon-information {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 10rem;
        width: 70%;
     
    }

    .agrupamento {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .pokemon-card {
        background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/57c65d5f-1d28-4bab-a4cc-564d0126d063/d7z0h0p-2db211c9-d53a-4d78-aa65-7dcf1d25b4fb.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU3YzY1ZDVmLTFkMjgtNGJhYi1hNGNjLTU2NGQwMTI2ZDA2M1wvZDd6MGgwcC0yZGIyMTFjOS1kNTNhLTRkNzgtYWE2NS03ZGNmMWQyNWI0ZmIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HHbzm5QL_E49lnfwHYJNQPsWPW7CIX99uiiFwY7fmRA');
        background-repeat: no-repeat;
       
        padding: 1rem;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center !important;
        
        width: 22rem;
        height: 22rem;
        border-radius: 22rem;
        background-color: rgb(93, 93, 93) !important;
        // background: linear-gradient(267deg, #de92fb, #b963ff, #d5c9df);
        // background-size: 250% 100%;
    
        // -webkit-animation: AnimationName1 5s ease infinite;
        // -moz-animation: AnimationName2 5s ease infinite;
        // animation: AnimationName3 5s ease infinite;
    }

   

    .agrup {
        display: flex;
        justify-content: center;
        align-items: center;
  
        width: 100%;
        flex-wrap: wrap;
    }

    .div-agrega {
        background-color: black;
        width: 100%;
        height: 100%;
    }

    img {
        width: 100px;
        height: 85px;
        align-self: center;
    }
    input {
        width: 100px;
        height: 30px;
    }

    .optionsContainer {
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
      
        min-height: 10rem;
        max-height: 15rem;
        padding: 1rem;
        background-color: #000000;

      

        .filtroOption {
            border-radius: 10px;
            margin: 1rem;
            width: 5rem;
            height: 2rem;
            background-color: rgb(255, 255, 255);
            border-style: none;
        }

        .buttonsContainer {
            width: 50%;
            display: flex;
            flex-direction: row;
         
        }

        .filtroOption:hover {
            cursor: pointer;
            background-color: rgba(219, 219, 219, 0.961);
        }
    }

    .container-pokemons {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: center;
         
        background-color: #fb3b3bfd;;

        
        .pesquisa {
            width: 25rem;

            padding: 10px;
            
            display: flex;

            input {
                padding: 10px;
                height: 2.5rem;
                width: 10rem;
                border-radius: 5px;
                border-inline: none;
                border-style: none;
                
            }

            button:hover {
                cursor: pointer;
                background-color: rgb(223, 222, 222);
            }

            button {
                margin-left: 2rem;
                border-radius: 10px;
                border-inline: none;
                border-style: none;
                
                height: 2.5rem;
                width: 25%;
            }
        }
    }

    .sejecolumn {
        
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .container-Monstruario {
       
        width: 100%;
        padding: 2rem;
        
        flex-wrap: wrap;
        display: flex;
      
        flex-direction: row;
        justify-content: center;


    }

    .pokemon-div-info {
        margin: 2rem;
        padding: 10px;
        width: 10rem;
        height: 10rem;
        border-radius: 25px;

        background-color: white;
       
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pokeball {
        width: 10rem;
        height: 10rem;
    }

    @media (max-width: 970px) {
        .pokemon-side-information {
            display: none;
        }
    }


}